.topbar{
    background-color:  yellow;
}
.topbarwrapper{
    height: 100%;
    padding : 0px 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}
.topRight
{
    display: flex;
}
.topbarIconsContainer{
    position: relative;
    cursor: pointer;
color: #555;
margin-right:10px }
.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}